h1 {
    color: goldenrod;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .purple {
    color: black;
  }
  
  #red {
    color: red;
  }
  
  #big-font {
    font-size: 60px;
  }
  
  #bold-font {
    font-weight: bold;
  }
  
  .back-black {
    background-color: #000;
  }
  
  .small-font {
    font-size: 10px;
  }
  
  h3 {
      color: black;
      font-size: 40px;
      font-family: ;
      text-decoration: underline;
  }

  p {
    text-align: auto;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: auto;
    margin-left: auto;


  }

